# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Repos\Public\LetsJava\02 Java 面向对象编程\52. 面向对象三要素：封装、继承和多态\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
